<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProjetAngular</title> 

  <link rel="stylesheet" href="../assets/image/css/projet.css">
</head>
<header>
  
  <h1>Hello world</h1>
  <h2> I am testing for github repository</h2>
</header>
<body>
  
  <div class="ImageTest">
   
 

  </div>
  <div class="text">
  <p>at our company we make sure to provide a flexible schedule to our employee to make sure that they are able to perform at their best.</p>
  <p>we also accomodate for people who have children</p>    
  </div>
</body>